@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.bg-montagne-blanche {
  background-image: url("/white_montain.jpeg");
}
.dark .bg-montagne-blanche {
  background-image: url("/black_montain.jpeg");
}
